export(accommodation)
export(archetypesBoundary)
export(archetypoids)
export(CCbiclustAnthropo)
export(cdfDiss)
export(checkBranchLocalMO)
export(checkBranchLocalIMO)
export(compPerc)
export(figures8landm)
export(getBestPamsamMO)
export(getBestPamsamIMO)
export(GetDistMatrix)
export(HartiganShapes)
export(hipamAnthropom)
export(hipamBigGroups)
export(indivNearest)
export(LloydShapes)
export(optraProcrustes)
export(outlierHipam)
export(overlappingRows)
export(plotMedoids)
export(plotTreeHipam)
export(plotTrimmOutl)
export(qtranProcrustes)
export(screeArchetyp)
export(shapes3dMod)
export(skeletonsArchet)
export(stepArchetypesMod)
export(stepArchetypoids)
export(TDDclust)
export(trimmedLloydShapes)
export(trimmedoid)
export(trimowa)
export(WeightsMixtureUB)
export(xyplotPCA)

importFrom(shapes,centroid.size)
importFrom(shapes,procGPA)
importFrom(shapes,riemdist)
importFrom(shapes,plotshapes3d)
importFrom(shapes,as.3d)
importFrom(shapes,plotshapestime3d)
importFrom(rgl,rgl.open)
importFrom(rgl,rgl.bg)
importFrom(rgl,rgl.texts)
importFrom(rgl,axes3d)
importFrom(rgl,title3d)
importFrom(archetypes,archetypes)
importFrom(archetypes,archetypesFamily)
importFrom(nnls,nnls)
importFrom(depth,depth)
importFrom(FNN,knn)
importFrom(ICGE,INCAnumclu)
importFrom(cluster,pam)

useDynLib(Anthropometry)
