export(anthrCases)
export(archetypesBoundary)
export(archetypoids)
export(array3Dlandm)
export(bustSizesStandard)
export(CCbiclustAnthropo)
export(cdfDissWomenPrototypes)
export(checkBranchLocalMO)
export(checkBranchLocalIMO)
export(computSizesTrimowa)
export(computSizesHipamAnthropom)
export(figures8landm)
export(getBestPamsamMO)
export(getBestPamsamIMO)
export(getDistMatrix)
export(HartiganShapes)
export(hipamAnthropom)
export(LloydShapes)
export(nearestToArchetypes)
export(optraShapes)
export(overlapBiclustersByRows)
export(percentilsArchetypoid)
export(plotPrototypes)
export(plotTreeHipamAnthropom)
export(plotTrimmOutl)
export(preprocessing)
export(projShapes)
export(qtranShapes)
export(screeArchetypal)
export(shapes3dShapes)
export(skeletonsArchetypal)
export(stepArchetypesRawData)
export(stepArchetypoids)
export(TDDclust)
export(trimmedLloydShapes)
export(trimmedoid)
export(trimmOutl)
export(trimowa)
export(weightsMixtureUB)
export(xyplotPCArchetypes)

importFrom(shapes,centroid.size)
importFrom(shapes,procGPA)
importFrom(shapes,riemdist)
importFrom(shapes,plotshapes3d)
importFrom(shapes,as.3d)
importFrom(shapes,plotshapestime3d)
importFrom(rgl,open3d)
importFrom(rgl,bg3d)
importFrom(rgl,text3d)
importFrom(rgl,axes3d)
importFrom(rgl,title3d)
importFrom(archetypes,archetypes)
importFrom(archetypes,archetypesFamily)
importFrom(nnls,nnls)
importFrom(depth,depth)
importFrom(FNN,knn)
importFrom(ICGE,INCAnumclu)
importFrom(cluster,pam)
importFrom(biclust,biclust)
importFrom(biclust,BCCC)
importFrom(biclust,writeclust)
importFrom(biclust,biclusternumber)
importFrom("grDevices", "gray")
importFrom("graphics", "arrows", "axis", "legend", "lines", "par",
           "plot", "points", "polygon", "segments", "symbols", "text",
            "title")
importFrom("stats", "as.dist", "coef", "cor", "cov", "dbinom", "dist",
           "ecdf", "fitted", "mahalanobis", "qchisq", "quantile",
           "runif", "sd", "var")

S3method(anthrCases,default)
S3method(anthrCases,trimowa)
S3method(anthrCases,hipamAnthropom)
S3method(trimmOutl,default)
S3method(trimmOutl,trimowa)
S3method(trimmOutl,hipamAnthropom)

useDynLib("Anthropometry", .registration=TRUE)
